
{% extends 'partials/base.html' %}
{% block title %}OrderPage{% endblock title %}
    
{% block content %}

{% include 'partials/topnav.html' %}

 
   <!--Table-->
   <div class="container">
    <div class="row my-4">
        <div class="col-md-4">

        </div>
        <div class="col-md-8">
            <table class="table bg-white">
                <thead class="bg-info">
                    <tr class="text-white">
                        <th scope="col">#</th>
                        <th scope="col">Product</th>
                        <th scope="col">Category</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Order by</th>
                    </tr>
                </thead>
                <tbody>
                    {% for order in orders %}
                    <tr>
                        <th scope="row">{{order.id}}</th>
                        <td>{{ order.product.name }}</td>
                        <td>{{ order.product.category }}</td>
                        <td>{{ order.order_quantity }}</td>
                        <td>
                            {{ order.staff }}
                        </td>
                    </tr>
                    {% endfor %}
                    
                </tbody>
            </table>
        </div>
    </div>

</div>



<!--End Table-->
    
{% endblock  %}
    

