{% extends 'partials/base.html' %}
{% block title %}delete product page{% endblock title %}

{% block content %}
    <div class="container">
        <div class="col-md-6 offset-md-3 mt-5">
            <div class="border bg-white p-3">
                <h3>Delete Item</h3>
                <hr>
                <div class="alert alert-danger">
                    <h4>Are you sure you want to delete? </h4>
                </div>
                <form action="" method="POST">
                    {% csrf_token %}
                    {{ form }}

                    <a href="{% url 'dashboard-product' %}" class="btn btn-secondary">Cancel</a>
                    <input class="btn btn-danger" type="submit" value="Delete">
                </form>
            </div>
        </div>
    </div>  

{% endblock content %}