{% extends 'partials/base.html' %}


{% block title %} Login Page {% endblock title %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container">
    <div class="row mt-5">
        <div class="col-md-6 offset-md-3">
            <div class="border bg-white p-3">
                <h3>Login Page</h3>
                <hr>
                <form action="" method="POST">
                    {% csrf_token %}

                    {{ form|crispy }}
                    <input class="btn btn-success" type="submit" value="Login">

                </form>

                <small><p>You dont have an account?<a href="{% url 'user-register' %}">register</a> </p></small>
            </div>
        </div>
    </div>
</div>

{% endblock content %}