{% extends 'partials/base.html' %}


{% block title %} Password Reset Done Page {% endblock title %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container">
    <div class="row mt-5">
        <div class="col-md-6 offset-md-3">
            <div class="borderp-3 bg-white p-3">
                <h3>Password Reset Done Page</h3>
                <hr>
                <div class="alert alert-danger">
                    <h4>A mail message has been sent to the email you provided. The instructions to reset your password is written there.</h4>
                </div>
                
            </div>
        </div>
    </div>
</div>

{% endblock content %}