{% extends 'partials/base.html' %}


{% block title %} Password Reset Confirm Page {% endblock title %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container">
    <div class="row mt-5">
        <div class="col-md-6 offset-md-3">
            <div class="borderp-3 bg-white p-3">
                <h3>Password Reset Confirm Page</h3>
                <hr>
                <div class="alert alert-danger">
                    <h4>Now you can login with your new password</h4>
                </div>
                <small><p></p><a href="{% url 'user-login' %}">Login</a></small>
            </div>
        </div>
    </div>
</div>

{% endblock content %}